streamlit
streamlit-chat-widget
streamlit-extras

requests
python-dotenv

mysql-connector-python
bcrypt
cffi

matplotlib
pillow
pandas

reportlab

SpeechRecognition


pyttsx3

pytz
backports.zoneinfo; python_version < '3.9'
